/* ======================================
   自己的css样式
   ====================================== */

/*=index.html页面的css样式设置=*/
body {
    background: #222325;
    color: #ffffff;
}

#wrapper {
    width: 100%;
}

header {
    width: auto;
    text-align: center;
}

img {
    width: 100%;
}

article {
    padding: 15px;
    text-align: center;
}

section p {
    text-align: justify;
    font-size: 15px;
    text-indent: 2em;
}

section h3 {
    margin: 0;
}

#username {
    border: 3px solid #69B147;
    height: 25px;
    line-height: 22px;
    width: 100%;
    border-radius: 5px;
}

.submit {
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    background: #69B147;
    width: 30%;
    border-radius: 5px;
}
.footTitle{
    color: #ffffff;
}


